@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
}

:root {
    --containerbackround: #e7e7e7;
    --background: #ffffff;
    --hover: #b7b7b7;
}

* {
    font-family: 'Montserrat-Bold', 'sans-serif';
}

body {
    background-color: var(--background);
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

#container {
    max-width: 600px;
    max-height: 600px;
    background-color: var(--containerbackround);
    padding: 25px;
    border-radius: 10px;
    margin: 0 auto;
    border-style: solid;
    border-color: black;
}

.taskItem {
    background-color: white;
    margin-top: 5px;
    padding: 6px;
    border-radius: 5px;
}

h1,
.menu {
    margin-top: 10px;
}

.menu,
input {
    font-size: 16px;
    border-radius: 5px;
    padding: 3px;
    border-color: black;
    border-style: solid;
}

button {
    cursor: pointer;
    height: 30px;
    padding: 0 14px !important;
    border-style: solid;
    background-color: white;
}

input {
    width: 350px;
    height: 20px
}

hr {
    height: 2px;
    background-color: black;
}

.taskItem {
    border-color: black;
    border-style: solid;
    cursor: pointer;
}

.taskItem:hover {
    background-color: var(--hover);
}

.completed {
    text-decoration: line-through;
}

@media (max-width: 675px) {
    #container {
        max-width: 100%;
    }

    input {
        width: 98%;
    }
}

@media (max-width: 400px) {
    body {
        margin: 5px;
    }

    #container {
        padding: 10px;
    }

    .menu,
    input {
        font-size: 14px;
    }

    button {
        height: 25px;
        padding: 0 10px !important;
    }

    input {
        height: 15px;
    }
}