@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
}

:root {
    --containerbackround: #bce6d1;
    --background: #e7e7e7;
}

* {
    font-family: 'Montserrat-Bold', 'sans-serif';
}

body {
    background-color: var(--background);
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

#container {
    max-width: 600px;
    max-height: 600px;
    background-color: var(--containerbackround);
    padding: 25px;
    border-radius: 10px;
    margin: 0 auto;
    border-style: solid;
    border-color: black;
}

h1, .menu {
    margin-top: 10px;
}

.menu, input {
    font-size: 16px;
    border-radius: 5px;
    padding: 3px;
}

button {
    cursor: pointer;
    margin: 0 10px;
    background-color: white;
}

input {
    width: 350px;
    height: 20px
}

hr {
    height: 2px;
    background-color: black;
}

.completed {
    text-decoration: line-through;
}
